{
    email bekircan3634@gmail.com
    debug
    on_demand_tls {
        ask http://gorenel-server:9091/api/tls/ask
    }
}

# Main Site & API
gorenel.site {
    log

    # API yolları
    reverse_proxy /api/* gorenel-server:9091
    reverse_proxy /tunnel/connect gorenel-server:9091
    reverse_proxy /health gorenel-server:9091
    reverse_proxy /metrics gorenel-server:9091
    reverse_proxy /info gorenel-server:9091
    reverse_proxy /install.sh gorenel-server:9091
    reverse_proxy /install.ps1 gorenel-server:9091
    reverse_proxy /downloads/* gorenel-server:9091

    # Dashboard (React)
    reverse_proxy gorenel-dashboard:80
}

# Dynamic Tunnels (subdomains)
*.gorenel.site {
    log
    tls {
        on_demand
    }
    reverse_proxy gorenel-server:8085
}
